[buildout]
extensions += mr.developer buildout.dumppickedversions
auto-checkout = 
              dex.example

eggs += 
              dex.example
        Products.flickrgallery

[sources]
# assumes that packages are added to the src/ directory
dex.example = fs dex.example
